<h1>Animation Directive</h1>
<p>This is demo shows how to animate an element via an Angular directive using predefined animations.</p>

<div class="demo-box" appAnimation [eleAnimation]='eleAnimation'></div>

<div class="controls">
  <button (click)="changeAnim('slide_in_left')"
    [disabled]="eleAnimation==='slide_in_left'">
    Slide In Left
  </button>

  <button (click)="changeAnim('slide_in_right')"
    [disabled]="eleAnimation==='slide_in_right'">
    Slide In Right
  </button>

  <button (click)="changeAnim('slide_in_top')"
    [disabled]="eleAnimation==='slide_in_top'">
    Slide In Top
  </button>

  <button (click)="changeAnim('slide_in_bottom')"
    [disabled]="eleAnimation==='slide_in_bottom'">
    Slide In Bottom
  </button>
</div>
